include ../private-mixins.pug
include resume-mixins.pug

#title
  h1.header-title Julian Visser
  h2.header-subtitle Computer Scientist
  
#photo
  img(src='./img/me_ZHAW.png')
            
#container

  .timeline-outercontainer
    .timeline-container
      h2.section-title Work Experience
      
      +timeline-item("Full Stack Software Engineer","Open Systems","Zurich", "2019", "November 2021")
        :markdown-it
          - Ticketing frontend in a modern React/Redux/PostCSS stack
          - Java/Spring-based API framework, deployed on Docker Swarm
          - 3rd level Engineer in “Mission Control” operations center
      
      +timeline-item("Supervisor","Cambridge Assessment English","Winterthur", "2016", "2019")
        :markdown-it
          - Instruct and co-ordinate exams and exam staff
          - Train new supervisors and invigilators

      +timeline-item("Volunteer","ITH San Diego & Montanita Spanish School","USA & Ecuador", "2015", "2016")
        :markdown-it
          - Front Desk: manage reservations, check-in, arrange payments

      +timeline-item("Military service","Sergeant, Military Police Grenadier","Aarau, Sarnen", "2014", "2015")

      +timeline-item("Apprenticeship IT (SYS)", "Siemens Schweiz AG", "Zurich", "2011", "2014")
        :markdown-it
          - Departments: Software Deployment, Network Security
        
  .timeline-outercontainer
    .timeline-container
      h2.section-title Education
      
      +timeline-item("Masters's degree Computer Science", "ZHAW School of Engineering", "Winterthur", "2021", "Present")

      +timeline-item("Bachelor's degree Computer Science", "ZHAW School of Engineering", "Winterthur", "2016", "2019")
        :markdown-it
          - Bachelor thesis: Full Stack JavaScript PWA using React and Node
          - Major: Mobile App Development and Software Security

      +timeline-item("Higher School Certificate", "Berufsmaturitätsschule BMZ", "Zurich", "2011", "2014")
        :markdown-it
      
      +timeline-item("Vocational school", "Technische Berufsschule TBZ", "Zurich", "2011", "2014")
        :markdown-it
          - IPA: Out-of-band management using pfSense

#sidebar
  #sidebar-container
    #contact
      h2.section-title Personal Data
      .sidebar-item #{dob}
      <br>
      .sidebar-item
          a(href=`https://${web}`) #{web}
      <br>
      .sidebar-item #{email}
      .sidebar-item #{phone}
      <br>
      .sidebar-item Nationality:
      .sidebar-item South Africa
      .sidebar-item Switzerland
    
    #language
      .container
        h2.section-title Languages
        .sidebar-item English (Native)
        .sidebar-item German (Native)
    
    #hobby
      .container
        h2.section-title Hobbies
        .sidebar-item Crossfit, hiking, running, surfing, reading
        
    #references
      .container
        h2.section-title references
        .sidebar-item On request

#disclaimer Made using HTML/CSS -&nbsp;
  a(href="https://github.com/justmejulian/resume", target="_blank") Code source

style
  include:scss ./style/main.scss
